.panel-operador{

    display:grid;
    grid-template-columns:350px 1fr;
    gap:40px;

    width:100%;

}

.lado-izquierdo{

    display:flex;
    flex-direction:column;
    gap:25px;

}

.caja{

    width:100%;
    background:#fff;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.caja span{

    color:#6b7280;

}

.caja h2{

    margin-top:10px;
    font-size:2rem;

}

.botones{

    width:100%;
    display:flex;
    flex-direction:column;
    gap:20px;

}

.botones button{

    padding:18px;
    border:none;
    border-radius:12px;

    color:#fff;

    font-size:1.2rem;

    cursor:pointer;

    transition:.2s;

}

.botones button:hover:not(:disabled){

    transform:translateY(-3px);

}

button:disabled{

    opacity:.45;
    cursor:not-allowed;

}

.btnA{

    background:#0d6efd;

}

.btnB{

    background:#198754;

}

.btnC{

    background:#fd7e14;

}

.resultado{

    background:#fff;

    border-radius:12px;

    min-height:520px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.resultado h3{

    font-size:2rem;
    color:#6b7280;
    margin-bottom:30px;

}

.resultado p{

    font-size:8rem;
    font-weight:bold;
    color:#0d6efd;

}

@media(max-width:900px){

    .panel-operador{

        grid-template-columns:1fr;

    }

}